<ion-header>
  <ion-toolbar>
    <ion-title>
      Join Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="test; else gameplay">
		<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		    <ion-item>
		      <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
		      <ion-input type="text" name="username" [ngModel]="user?.username" required></ion-input>
		    </ion-item>

		    <ion-item>
		        <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
		        <ion-input type="password" name="password" [ngModel]="user?.password" required></ion-input>
		    </ion-item>


		    <div class="ion-padding">
		      <ion-button expand="block" type="submit" class="ion-no-margin" size="full">Join</ion-button>
		    </div>
	  	</form>
	</div>
	<ng-template #gameplay>
		<ion-item>
	      	<ion-label position="stacked">Gameplay<ion-text color="danger">*</ion-text></ion-label>
			<ion-input type="text" name="idGameplay" [(ngModel)]="idGameplay"></ion-input>
	    </ion-item>
		<div>
			<ion-button expand="block"  class="ion-no-margin" (click)="getGameplay()">Valid</ion-button>
		</div>
	</ng-template>
</ion-content>
