<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	    <ion-item>
	      <ion-label>Username"</ion-label>
	      <ion-input type="text" name="name" [ngModel]="user?.name" required></ion-input><br>
	    </ion-item>

	    <ion-item>
	        <ion-label>Password</ion-label>
	        <ion-input type="password" name="password" [ngModel]="user?.password" required></ion-input><br>
	    </ion-item>


	    <div class="col-12 mt-5">
	      <ion-button type="submit" size="full">Edit</ion-button>
	    </div>
	  </form>
</ion-content>
