<ion-header>
  <ion-toolbar>
    <ion-title>
      O-Killer
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- This is display at the begining -->

<ion-content>
  <div *ngIf="!choice; else forms" padding>
    <ion-card>
      <ion-header>
        <ion-button (click)="newGame()" color=medium fill=outline shape=block>
          New Game
        </ion-button>
      </ion-header>
    </ion-card>
    <ion-card>
      <ion-button (click)="joinParty()" color=medium fill=outline shape=block>
        Join Party
      </ion-button>
    </ion-card>
    <ion-card>
      <ion-button (click)="logIn()" color=medium fill=outline shape=block>
        LogIn
      </ion-button>
    </ion-card>
  </div>

  <!-- When the user click on a button, it display the forms of his choice -->

  <ng-template #forms>
    <form *ngIf="new && choice" (ngSubmit)="onSubmitNew(fnc)" #fnc="ngForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>New Party</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Number Of Players" name="nbJoueur" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Difficulty Level" name="level" ngModel required></ion-input>
          </ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button (click)="back()" fill=outline color=danger expand=block>
                  <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button (click)="onSubmitNew(fnc)" color=medium expand=block fill=solid>
                  <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>

    <form *ngIf="join && choice" (ngSubmit)="onSubmitJoin(fjc)" #fjc="ngForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>Join Party</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" placeholder="Party ID" name="_id" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Username" name="username" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" ngModel required></ion-input>
          </ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button (click)="back()" fill=outline color=danger expand=block>
                  <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button (click)="onSubmitJoin(form)" color=medium expand=block fill=solid>
                  <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>

    <form *ngIf="log && choice" (ngSubmit)="onSubmitLogIn(f)" #flic="ngForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>LogIn</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" placeholder="Username" name="username" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="Password" ngModel required></ion-input>
          </ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button (click)="back()" fill=outline color=danger expand=block>
                  <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button (click)="onSubmitLogIn(form)" color=medium expand=block fill=solid>
                  <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>
  </ng-template>
</ion-content>