<ion-header>
  <ion-toolbar>
    <ion-title>
      O-Killer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=medium>
  <ion-card color=light>
    <ion-card-header>
      <ion-card-subtitle text-center>Create your player profil</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onSubmitNew(f)" #f="ngForm">
        <ion-item>
          <ion-input type="text" placeholder="Username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" name="password"></ion-input>
        </ion-item>

        <ion-button (click)="onSubmitNew(f)" color=dark expand=block fill=solid>
          <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>