<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=medium>
  <ion-card color=light>
    <ion-card-header>
      <ion-card-subtitle text-center>
        {{ question?.value }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-grid fixed>
      <ion-row justify-content-around padding>
        <ion-col size="12">
          <ion-button (click)="onClick(0)" color=dark fill=outline shape=block>
              {{ question?.answer[0] }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around padding>
        <ion-col size="12">
          <ion-button (click)="onClick(1)" color=dark fill=outline shape=block>
              {{ question?.answer[1] }}
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around padding=2>
        <ion-col size="12">
          <ion-button (click)="onClick(2)" color=dark fill=outline shape=block>
            {{ question?.answer[2] }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
